/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background: rgba(212, 249, 233, 0.7);
}

h1 {
  text-align: center;
}

p#description {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.container {
  width: 70%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  min-width: 500px;
  padding: 10px;
  background-color: white;
}

fieldset {
  border: none;
}

.rowTab {
  display: flex;
}

.left-row {
  display: inline-block;
  width: 40%;
  text-align: right;
  margin: 10px;
  vertical-align: top;
  font-weight: bold;
}

.right-row {
  display: inline-block;
  width: 40%;
  margin: 10px;
  vertical-align: top;
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  border-radius: 5px;
}

#dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
}

textarea {
  height: 50px;
}

#submit {
  display: block;
  border: 1px solid black;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .rowTab {
    flex-direction: column;
  }

  .left-row,
  .right-row {
    width: auto;
    text-align: left;
  }
}
